#error404{
    text-align: center;
    font-size: 1500%;
    margin-top: 400px;
    margin-bottom: 20px;
    margin-top: 55px;

    transition-property: color;
    transition-duration: 1s;
    transition-timing-function: linear;
    transition-delay: 0s;

}

#error404:hover{
    color: gray;
}

#container{
    display: flex;
    justify-content: center;
}

#containerMensagem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 40%;
}

.assinatura{
    text-align: right;
}