#descontoProdutoDestacado{
    background-color: yellow;
    width: min-content;
}

#imagemProdutoDestacado{
    height: 400px;
    margin: 10;
    border-radius: 25px;
}

#precoProdutoDestacado{
    font-size: 200%;
}

#containerProduto{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#containerDetalhes{
    border: 2px solid black;
    padding: 10px;
}

#containerImagem{
    display: flex;
    justify-content: center;
}

#containerPreco{
    display: flex;
    justify-content:space-around;
}

#containerPromocao{
    margin-left: 25px;
}

#precoOriginalProdutoDestacado{
    text-decoration: line-through;
    color: gray;
}

#addCarrinho{
    width: 70%;
    height: 50px;
    font-size: 200%;
    border-radius: 25px;
}

#addCarrinho:hover{
    background-color: aqua;
}

#addCarrinho:active{
    background-color: rgb(81, 255, 0);
}

#containerBotao{
    display: flex;
    justify-content: center;
}
