#containerDescriçãoProdutoDestacado{
    margin-left: 15%;
    margin-right: 15%;
}

#containerProduto{
    display: flex;
    justify-content: center;
}

#containerProdutoDestacado{
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    border: 0px solid black;
    width: 70%;
}

#subcontainerInfosProdutoDestacado{
    display: flex;
    justify-content: center;
}

#imagemProdutoDestacado{
    height: 400px;
    margin: 10px;
    border-radius: 5%;
}

#caixa{
    height: 400px;
    width: 400px;
    border: 1px solid black;
    margin: 10px;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
}

#subcontainerCaixa{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    margin-bottom: 5%;
}

#precoProdutoDestacado{
    font-size: 300%;
    margin:0px;
}

#precoOriginalProdutoDestacado{
    margin:0px;
    margin-bottom: 5px;
    color: gray;
    text-decoration: line-through;
}

#descontoProdutoDestacado{
    margin:0px;
    margin-bottom: 5px;
    margin-top: 10px;
    background-color: yellow;
    height: fit-content;
    border-radius: 10%;
    font-size: 200%;
}

#addCarrinho{
    width: 70%;
    height: 50px;
    font-size: 150%;
    border-radius: 25px;
    align-self: center;
}

#addCarrinho:hover{
    background-color: aqua;
}

#addCarrinho:active{
    background-color: rgb(81, 255, 0);
}

#textAreaComentário{
    width: 100%;
    height: 200px;
    resize: none;
}

#containerEstrelas{
    display: flex;
}

#containerPontuacao{
    align-items: center;
}

#containerEstrelas input{
    visibility: hidden;
}

#containerPontuacao p{
    height: max-content;
    margin: auto;
}