#containerProdutoDestacado{
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    border: 1px solid black;
}

#subcontainerInfosProdutoDestacado{
    display: flex;
    justify-content: center;
}

#imagemProdutoDestacado{
    height: 400px;
    margin: 10px;
    border-radius: 5%;
}

#caixa{
    height: 400px;
    width: 400px;
    border: 1px solid black;
    margin: 10px;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
}

#subcontainerCaixa{
    display: flex;
    justify-content: space-around;
}

#precoProdutoDestacado{
    font-size: 300%;
    margin:0px;
}

#precoOriginalProdutoDestacado{
    margin:0px;
    margin-bottom: 5px;
    color: gray;
    text-decoration: line-through;
}

#descontoProdutoDestacado{
    margin:0px;
    margin-bottom: 5px;
    margin-top: 10px;
    background-color: yellow;
    height: fit-content;
}

#addCarrinho{
    width: 70%;
    height: 50px;
    font-size: 150%;
    border-radius: 25px;
    align-self: center;
}

#addCarrinho:hover{
    background-color: aqua;
}

#addCarrinho:active{
    background-color: rgb(81, 255, 0);
}