body {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: bold;
    margin: 10;
}
.customHeader {
    display: inline-block;
    padding: 20px 0;
    margin: 0px auto;
    width: 100%;
    text-align: center;
    background-color: rgb(255, 255, 255);
}
#structure {
    display: flex;
    flex-direction: row;
}
#leftSide {
    background-color: rgba(252, 0, 0, 0.274);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin: 5px 5px 5px 0px;
    
}
#centerSide {
    background-color: rgba(55, 0, 255, 0.274);
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 5px 0px 5px 0px;
}
#produtosTituloPrincipal {
    display: flex;
    justify-content: center;
    align-items: center;
}
#produtosTituloPrincipal > p {
    margin-right: 2%;
}
.botoesFiltragem {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}
#produtoLista {
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    border-radius: 10px;
    margin: 10px;
}
/*AQUI*/
#produto {
    display: flex; /* Hidden by default */
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 10px 30px 10px 30px;
    margin: 10px;
}
#produtoTitulo {
    display: flex;
    justify-content: center;
}
#produtoFoto {
    display: flex;
    justify-content: center;
    margin: 10px;
}
#produtoDescriçao {
    display: flex;
    justify-content: center;
}
#rightSide {
    background-color: rgba(63, 63, 0, 0.274);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin: 5px 0px 5px 5px;
}
#endSite {
    background-color: rgba(57, 156, 53, 0.274);
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10;
}