body {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: bold;
    margin: 10;
}
.customHeader {
    display: inline-block;
    padding: 20px 0;
    margin: 0px auto;
    width: 100%;
    text-align: center;
    background-color: rgb(255, 255, 255);
}
#structure {
    display: flex;
    flex-direction: row;
}

.carrinho_caixa{
    background-color: rgba(252, 0, 0, 0.274);
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 35%;
    margin: 10;
    margin: 5px 5px 5px 0px;
}
.carrinho_caixa_texto_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.carrinho_caixa_texto_linha {
    display: flex;
    flex-direction: row;
}
.carrinho_linha_ITEM {
    width: 30%;
}
.carrinho_linha_PREÇO {
    width: 30%;
}
.carrinho_linha_QUANTIDADE {
    width: 30%;
}
.carrinho_linha_estilo_normal {
    display: flex;
    justify-content: center;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 10px;
    padding-bottom: 10px;
}
.carrinho_linha_estilo_sublinhado {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 10px;
    padding-bottom: 10px;
}
.carrinho_caixa_texto_produtos{
    display: flex;
    align-items: center;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 10px;
    padding-bottom: 10px;
}
.carrinho_caixa_texto_produtos_linha {
    display: flex;
    align-items: center;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 10px;
    padding-bottom: 10px;
}
.carrinho_caixa_texto_produtos_linha_img {
    width: 75px;
    height: auto;
    border-radius: 10px;
}


#centerSide {
    background-color: rgba(55, 0, 255, 0.274);
    display: flex;
    flex-direction: column;
    float: left;
    width: 65%;
    margin: 5px 0px 5px 0px;
}
#produtosTituloPrincipal {
    display: flex;
    justify-content: center;
    align-items: center;
}
#produtosTituloPrincipal > p {
    margin-right: 1%;
}
/* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
}
/* Add a light grey background on mouse-over */
.btn:hover {
background-color: #ddd;
}
/* Add a dark background to the active button */
.btn.active {
background-color: #666;
color: white;
}
#botoesFiltragem {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}
#produtoLista {
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 10px;
    margin: 10px;
}
/*AQUI*/
.produto {
    display: none; /* Hidden by default none*/
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 10px 30px 10px 30px;
    margin: 10px;
}
.show {
    display: flex;
}

#produtoTitulo {
    display: flex;
    justify-content: center;
}
#produtoFoto {
    display: flex;
    justify-content: center;
    height: 250px;
    width: 250px;
    margin: 10px;
    border-radius: 15px;
}
#produtoDescriçao {
    display: flex;
    justify-content: center;
}
#endSite {
    background-color: rgba(57, 156, 53, 0.274);
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10;
}