#topnav {
    background-color: #D4EDF7;
    text-align: center;
}
#topnav li {
    display: inline;
    background-color: black;
    border-radius: 10px 30px 10px 30px;
    padding: 10px;
}
#topnav a {
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    margin-right: 10%;
    margin-left: 6%;
    color: white;

}
#topnav a:hover {
    color: #e8f77d;
}
