#topnav {
    background-color: #3838e4;
    text-align: center;
}
#topnav li {
    display: inline
}
#topnav a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin-right: 5%;
    margin-left: 5%;
    color: white;
    border: 2px solid black;
}
#topnav a:hover {
    color: #e8f77d;
}
