#topnav {
    overflow: hidden;
    background-color: rgb(189, 179, 179);
    text-align: center;
}
#topnav li {
    display: inline;
}
#topnav a {
    display: inline-block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: rgb(255, 255, 255);
    margin: auto;
}
#topnav a.active {
    background-color: #04AA6D;
    color: white;
}
#topnav a:hover {
    background-color: #ddd;
    color: black;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  