#fieldsetEmail, #fieldsetPassword, #fieldsetPerfil, #fieldsetMétodoPagamento{
    display: flex;
    width: 45%;
    align-items: flex-start;
}



#submAlteracaoEmail, #submAlteracaoPass, #submAlteracaoMétodoPagamento{
    align-self: center;
}

#submAlteracaoEmail,#containterEmailAntigo,#containterEmailNovo,#submAlteracaoPass,#containterPassAntiga,#containterPassNovo,#submAlteracaoMétodoPagamento{
    margin-left: 30px;
    margin-right: 10px;
}

#containerAlteracaoEmail legend, #containerAlteracaoPassword legend, #fieldsetPerfil legend, #fieldsetMétodoPagamento legend{
    font-size: 200%;
}

#containerNome_User_ProfPic{
    display: flex;
}

#containerProfilePic{
    margin-left: 25px;
}

#textoComentário{
    width: 10px;
}