#fieldsetEmail, #fieldsetPassword, #fieldsetPerfil{
    display: flex;
    width: 45%;
    align-items: flex-start;
}



#submAlteracaoEmail, #submAlteracaoPass{
    align-self: center;
}

#submAlteracaoEmail,#containterEmailAntigo,#containterEmailNovo,#submAlteracaoPass,#containterPassAntiga,#containterPassNovo{
    margin-left: 10px;
    margin-right: 10px;
}

#containerAlteracaoEmail legend, #containerAlteracaoPassword legend, #fieldsetPerfil legend{
    font-size: 200%;
}
#fieldsetPerfil #containerNewsletter{
    font-size: 100%;
}